<div class="FondoBodyIndex" >

<!-- ----------------     IMPORT FILES     ------------------------- -->
<link rel="stylesheet" href="../../assets/css/loguin.css">
<!-- ----------------     END IMPORT FILES     ------------------------- -->

<!-- ----------------     LANGUAGE SWITCH     ------------------------- -->
<span translate>LenguajeTitle</span>
<select ng-model="selected" ng-change="changeLang()" class="ChangeLang">
	<option ng-repeat="lan in listLan" value = "{{lan.key}}"  ng-selected ="{{listLan.key}}">{{lan.value}}</option>                  
</select>

<!-- ----------------     END LANGUAGE SWITCH     ------------------------- -->

<!-- ----------------     LOGIN FORM     ------------------------- -->
<div id="ContenedorFormularioSesion">
	<form name="form" ng-submit="form.$valid && vm.login()" novalidate>
		<h2 translate> loginTitle </h2>
		<input type="text" placeholder="{{ 'userInputPlaceHolder' | translate }}" class="inputTex" ng-model="vm.username" required>
		<input type="password" placeholder="{{ 'passInputPlaceHolder' | translate }}" class="inputTex" ng-model="vm.password" required>

		<input type="submit" ng-disabled="vm.loading" class="btn btn-primary1" value="{{ 'btnLogin' | translate }}">

		<!-- <button ng-disabled="vm.loading" class="btn btn-primary1">{{ 'btnLogin' | translate }}</button> -->
		<!--<input type="submit" value="{{ 'btnLogin' | translate }}" class="inputSubmit"> -->

		<div ng-if="vm.error" >{{vm.error}}</div>
	</form>
</div>
<!-- ----------------     END LOGIN FORM     ------------------------- -->

</div>