<!DOCTYPE html>
<html lang="es" ng-app="PagesApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="description" content="DISCOVR - Sistema web de turismo">
    <meta name="author" content="Néstor Alberto Molina Morán y Alex José Flores Rivas">
    <link rel="icon" href="../../img/favicon.ico">

	<title>DISCOVR</title>

	

	<link rel="stylesheet" href="../../css/index.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../../css/no_webkit.css">
	<link rel="stylesheet" href="../../css/main/menuPrincipal.css">

</head>
<body class="FondoBody">
	
	<!-- INICIO DEL MENU-->

<div class="ContenedorMenu">
  <ul>
    <li><i class="material-icons">map</i> Discovr</li>
    
    <li id="LineSeparador"></li>
    <li><i class="material-icons">home</i> Inicio</li>
    <li><i class="material-icons">keyboard_arrow_right</i> Dónde Ir?</li>


    <li class="FloatRightMenu">
    	<i class="material-icons">more_vert</i>
    		<ul>
    			<li> <i class="material-icons">settings</i> Ajustes</li>
    			<li> <i class="material-icons">language</i> Idioma</li>
    			<li> <i class="material-icons">bug_report</i> Errores & Sugerencias</li>
    		</ul>
    </li>
    <li class="FloatRightMenu"> 
    	<picture id="PictureUser"> <img src="http://www.callegranvia.com/info/img/los-secretos-de-un-buen-estudiante.jpg" alt=""> </picture>

    		<ul class="SubMenuUsuario">
    			<li> <i class="material-icons">account_circle</i> Perfil</li>
    			<li> <i class="material-icons">accessible</i> Padecimientos</li>
    			<li> <i class="material-icons">exit_to_app</i> Salir</li>
    		</ul>

    </li>
    <li class="FloatRightMenu">
    	<i class="material-icons">notifications</i>
    		<ul class="SubMenuNotificasion">

    			<li class="CardNotificasion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eos non ratione recusandae quam maxime ad ducimus ium.</li>

    			<li class="CardNotificasion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eos non ratione recusandae quam maxime ad ducimus ium.</li>

    			<li class="CardNotificasion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eos non ratione recusandae quam maxime ad ducimus ium.</li>

    			<li class="CardNotificasion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eos non ratione recusandae quam maxime ad ducimus ium.</li>

    			<li class="CardNotificasion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eos non ratione recusandae quam maxime ad ducimus ium.</li>

    			
    		</ul>
    </li>
    <li class="FloatRightMenu">
    	<input type="search" id="searchMenu" placeholder="Buscar"></li>
    
    
  </ul>


</div>

<!-- FIN DEL MENU-->

	<div ng-view>
			
		</div>

<!-- _____________________________________________________________________________ -->

	<script src="../../js/angular.min.js"></script>
	<script src="../../js/angular-route.min.js"></script>
    <script src="../../controllers/controller_pages.js"></script>



    <script> <!--  este script es para identificar a cada navegador y asi aplicar css especifico en cada uno-->
		var d0cum3n7e13m3n7 = document.documentElement; 
		d0cum3n7e13m3n7.setAttribute('data-useragent', navigator.userAgent); 
		d0cum3n7e13m3n7.setAttribute('data-platform', navigator.platform); 
		d0cum3n7e13m3n7.className += ((!!('ontouchstart' in window) || !!('onmsgesturechange' in window))?' touch':'');
	</script>




<script src="../../js/gulp.js"></script>
<script src="../../js/jquery-3.1.0.min.js"></script>
<script src="../../js/main/efectosTileIcono.js"></script>
<!-- _____________________________________________________________________________ -->


</body>
</html>






		

		