input[name="slider-select-element"] {
display: none;
}


/* ESTA PROPIEDAD SE APLICA PARA MODIFICAR LOS TAMAÑOS EN LOS TILES FLOTANTES DEL SLIDER */

.ContainerFloatTiles img{
	height: 116px;
}

/* ADAPRA EL ALTO DE LOS TILES EN LOS TILES DEL SLIDER */

.ContainerFloatTiles img{
	height: 116px;
}

/* ADAPTA EL ALTO DE LA IMAGEN EN LOS TILES DE SITIOS */
.ContainerTileSites img{
	height: 180px;
}

/* ADAPTA EL ALTO DE LA IMAGEN EN LOS MINI TILES */

.MiniTilesSite img{
	height: 88px;
}

/* ------------------------------------------------------------------------------------------ */

.MiniTilesSite{
	width: 49.35%;
	float: left;
	background-color: #263238;
	margin-right: 0px;
	margin-bottom: 0px;
	height: 88px;
	overflow: hidden;
}

.MiniTilesSite:nth-last-child(1){
	margin-left: 1%;
	margin-top:1%;
}

.MiniTilesSite:nth-last-child(2){

	margin-top:1%;
}

.MiniTilesSite:nth-last-child(3){
	margin-left: 1%;
}

.TileSitesContenidoMini{
	height: 88px;
}
.MiniTilesSite .SpanTitle{

	margin-top: -28px;


}

/* -----------------------------------EFECTO DE LOADING ICONO---------------------------------------- */
.MiniTilesSite .material-icons{
	font-size: 53px;
	text-align: center;
	padding-top: 20px;

}