.ContainerTileSites {
    width: 100%;
    margin: 10px;
    margin-bottom: 0px;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
}

.TileSite1,
.TileSite2,
.TileSite3,
.TileSite4,
.TileSite5,
.TileSite6 {
    width: 23.8%;
    float: left;
    height: 180px;
    color: #fff;
    margin-right: 0.8%;
    margin-bottom: 10px;
    background-color: #37474f;
}

.TileSite1 img:hover,
.TileSite2 img:hover,
.TileSite3 img:hover,
.TileSite4 img:hover,
.TileSite5 img:hover,
.TileSite6 img:hover {
    -webkit-transform: scale(1.1);
    transition: all 0.3s;
}

.TileSite1 img:active,
.TileSite2 img:active,
.TileSite3 img:active,
.TileSite4 img:active,
.TileSite5 img:active,
.TileSite6 img:active {
    -webkit-transform: scale(1.2);
    transition: all 0.3s;
}

.TileSite2 {
    width: 49.3%;
}

.TileSite4 {
    width: 32%;
    background-color: #fff;
}

.TileSite5 {
    width: 45%;
}

.TileSite6 {
    width: 20%;
}

.TileSitesContenido {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.NotificacionTileSite {
    position: relative;
    margin-top: -180px;
    float: right;
    background-color: #ef5350;
    width: 40px;
    padding: 2px;
    text-align: center;
}


/* ------------------------------------------------------------------------------------------ */

.SpanTitle {
    float: right;
    margin-right: 12px;
    position: relative;
    margin-top: -38px;
    z-index: 2;
}


/* AQUI SE GENERA LA BARRA DIFUMINADA QUE ESTA EN LA PARTE INFERIOR DE LOS TILES */

.BarraDifuminadaTileSite {
    position: relative;
    margin-top: -50px;
    height: 50px;
    width: 100%;
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 83%, rgba(0, 0, 0, 0.65) 84%, rgba(0, 0, 0, 0.65) 85%, rgba(0, 0, 0, 0.65) 87%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 83%, rgba(0, 0, 0, 0.65) 84%, rgba(0, 0, 0, 0.65) 85%, rgba(0, 0, 0, 0.65) 87%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 83%, rgba(0, 0, 0, 0.65) 84%, rgba(0, 0, 0, 0.65) 85%, rgba(0, 0, 0, 0.65) 87%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
}

.LiContainer .BarraDifuminadaTileSite {
    z-index: 3;
}


/* AQUI SE ADAPTAN LAS IMAGENES CONTENIDAD EN LOS TILES */

.TileSitesContenido .material-icons {
    font-size: 73px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 54px;
}


/*  Animaciones de hover y active*/


/* .TileSite1:hover, .TileSite3:hover, .TileSite6:hover{
	-webkit-transform: scale(1.05);
} */


/* .TileSite1:active, .TileSite3:active, .TileSite6:active{
	-webkit-transform: scale(1);
}

.TileSite2:hover, .TileSite5:hover, .MiniTilesSite:hover{
	-webkit-transform: scale(1.02);
}

.TileSite2:active, .TileSite5:active, .MiniTilesSite:active{
	-webkit-transform: scale(1);
} */

.PrincipalSlider .carousel-indicators {
    margin-bottom: -5px;
}

.TileSite1 .carousel-indicators,
.TileSite2 .carousel-indicators,
.TileSite3 .carousel-indicators,
.TileSite4 .carousel-indicators,
.TileSite5 .carousel-indicators,
.TileSite6 .carousel-indicators {
    margin-bottom: -5px;
}

.TileSitesContenidoMini .carousel-indicators {
    margin-bottom: -8px;
}


/* inicio del modelo responsitive */

@media only screen and (max-width: 767px) {
    .ContainerTileSites {
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        margin: 0;
        padding-right: 0;
        margin-top: 10px;
    }
    .TileSite1,
    .TileSite2,
    .TileSite3,
    .TileSite4,
    .TileSite5,
    .TileSite6 {
        width: 50%;
        margin-right: 0%;
    }
    .TileSite1 {
        order: 1;
        width: 48.5%;
        margin-left: 1%;
        margin-right: 0.5%;
    }
    .TileSite2 {
        order: 3;
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .TileSite3 {
        order: 2;
        width: 48.5%;
        margin-left: 0.5%;
        margin-right: 1%;
    }
    .TileSite4 {
        order: 4;
        width: 99%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .TileSite5 {
        order: 5;
        width: 99%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .TileSite6 {
        order: 6;
        width: 48.5%;
        margin-left: 1%;
        margin-right: 0.5%;
    }
}