.ContainerDual{
  width: 100%;
  color: #000;
  margin-top: 10px;
}

.ContanerDual1{
  float: left;
  width: 66.4%
}

.ContanerDual2{
  float: right;
  width: 33.6%
}





.page-wrap {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;

}


input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tab-wrap {
  width: 100%;
  float: none;
  list-style: none;
  position: relative;
  margin: 0 auto;
  padding: 0;
  text-align: left;

}

.tab-wrap li {
  float: left;
  display: block;

}

.tab-wrap label {
  position: relative;
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
  color: #fff;
  font-weight: 100;
  cursor: pointer;


}

.label-1 {
  z-index: 100;
}

.label-2 {
  z-index: 90;
}

.label-3 {
  z-index: 80;
}

.label-4 {
  z-index: 70;
}

.label-5 {
  z-index: 70;
}

.label-6 {
  z-index: 70;
}

.label-7 {
  z-index: 70;
}

.label-8 {
  z-index: 70;
}

.tab-wrap label:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: -1;
  background-color: #4285F4;
  cursor: pointer;
  /* border-right: 1px solid #fefefe; */
  
}

.tab-wrap .tab-content {
  z-index: 200;
  display: none;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 53px;
  left: 0;
  padding: 20px;
  background: #fff;
}

.tab-wrap [id^="tab"]:checked + label {
  z-index: 200;
  color: #000;
  border-bottom: 2px solid orange;
  padding-bottom: 9px;
  background-color: #fff;
}

.tab-wrap [id^="tab"]:checked + label:before {
  background: #fff;
}

.tab-wrap [id^="tab"]:checked ~ .tab-content{
  display: block;
}

/* rellena con color el espacio que sobra en los tabs al lado derecho */

#BackColor{
  width: 95%;
  background-color: #4285F4;
  display: table;
   margin: 0 auto;

}


.CardTab{
  background-color: #f5f5f5;
  padding: 10px;
  margin: 20px;
}