.ContainerDual{
	width: 100%;
	color: #000;
	margin-top: 10px;
}

.ContanerDual1{
	float: left;
	width: 66.4%
}

.ContanerDual2{
	float: right;
	width: 33.6%
}




.WrapLimit{
  width: 95%;
  margin: 0 auto;
  margin-bottom: 50px;
  font-family: Segoe_UI;
}

md-tabs-canvas{
  background-color: #03a9f4;
}

md-tabs .md-tab.md-active{
  color: #fff;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar{
  background: #ffc107;
  color: #ffc107;
}

md-tabs.md-default-theme .md-tab, md-tabs .md-tab{
  color: #37474f;
}