<!-- TILES DE OTROS SITIOS, ESTOS SON LOS MOSTRADOS BAJO EL SLIDER-->
<!-- ---------------------------------------- TILE DE EVENTOS -------------------------------------------- -->
<div class="TileSite1">
    <div class="TileSitesContenido">
        <i class="material-icons  materialOut">insert_invitation</i>
        <div class="slider">

            <div uib-carousel active="active1" interval="myInterval1" no-wrap="noWrapSlides1">
                <div uib-slide ng-repeat="slide1 in slides1 track by slide1.id" index="slide1.id">
                   <a ui-sref="working"><img ng-src="{{slide1.image}}" style="margin:auto;"></a>
                    <div class="carousel-caption">
                        <h4>Slide1 {{slide1.id}}</h4>
                        <p>{{slide1.text}}</p>
                    </div>
                </div>
            </div>

            <span class="SpanTitle">Eventos</span>
            <div class="BarraDifuminadaTileSite"></div>

        </div>
    </div>
</div>
<!-- ---------------------------------------- TILE DONDE IR -------------------------------------------- -->
<div class="TileSite2">
    <div class="TileSitesContenido">
        <i class="material-icons materialOut">place</i>
        <div class="slider">

            <div uib-carousel active="active2" interval="myInterval2" no-wrap="noWrapSlides2">
                <div uib-slide ng-repeat="slide2 in slides2 track by slide2.id" index="slide2.id">
                   <a ui-sref="working"><img ng-src="{{slide2.image}}" style="margin:auto;"></a>
                    <div class="carousel-caption">
                        <h4>Slide2 {{slide2.id}}</h4>
                        <p>{{slide2.text}}</p>
                    </div>
                </div>
            </div>

            <span class="SpanTitle">Dónde Ir?</span>
            <div class="NotificacionTileSite">1</div>
            <div class="BarraDifuminadaTileSite"></div>
        </div>
    </div>
</div>
<!-- ---------------------------------------- TILE GALERIA -------------------------------------------- -->
<div class="TileSite3">
    <div class="TileSitesContenido">
        <i class="material-icons materialOut">collections</i>
        <div class="slider">

            <div uib-carousel active="active3" interval="myInterval3" no-wrap="noWrapSlides3">
                <div uib-slide ng-repeat="slide3 in slides3 track by slide3.id" index="slide3.id">
                    <a ui-sref="working"><img ng-src="{{slide3.image}}" style="margin:auto;"></a>
                    <div class="carousel-caption">
                        <h4>Slide3 {{slide3.id}}</h4>
                        <p>{{slide3.text}}</p>
                    </div>
                </div>
            </div>

            <span class="SpanTitle">Galería</span>
            <div class="BarraDifuminadaTileSite"></div>
        </div>
    </div>
</div>
<!-- ----------------------------------- TILE CONTENEDOR DE MINI TILES ----------------------------------------- -->
<div class="TileSite4">
    <div class="TileSitesContenido">
        <div class="MiniTilesSite">
            <div class="TileSitesContenidoMini">
                <i class="material-icons materialOut">local_hotel</i>
                <div class="slider">

                    <div uib-carousel active="active4" interval="myInterval4" no-wrap="noWrapSlides4">
                        <div uib-slide ng-repeat="slide4 in slides4 track by slide4.id" index="slide4.id">
                            <a ui-sref="housing"><img ng-src="{{slide4.image}}" style="margin:auto;"></a>
                            <div class="carousel-caption">
                                <h4>Slide4 {{slide4.id}}</h4>
                                <p>{{slide4.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle">Alojamiento</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------ -->

        <div class="MiniTilesSite">
            <div class="TileSitesContenidoMini">
                <i class="material-icons materialOut">store</i>

                <div class="slider">

                    <div uib-carousel active="active5" interval="myInterval5" no-wrap="noWrapSlides5">
                        <div uib-slide ng-repeat="slide5 in slides5 track by slide5.id" index="slide5.id">
                            <a ui-sref="working"><img ng-src="{{slide5.image}}" style="margin:auto;"> </a>
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle">Tiendas</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>

            </div>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------ -->
        <div class="MiniTilesSite">
            <div class="TileSitesContenidoMini">
                <div class="slider">

                    <div uib-carousel active="active6" interval="myInterval6" no-wrap="noWrapSlides6">
                        <div uib-slide ng-repeat="slide6 in slides6 track by slide6.id" index="slide6.id">
                            <a ui-sref="working"><img ng-src="{{slide6.image}}" style="margin:auto;"></a>
                            <div class="carousel-caption">
                                <h4>Slide6 {{slide6.id}}</h4>
                                <p>{{slide6.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle">Entretenimiento</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------ -->
        <div class="MiniTilesSite">
            <div class="TileSitesContenidoMini">
                <div class="slider">

                    <div uib-carousel active="active7" interval="myInterval7" no-wrap="noWrapSlides7">
                        <div uib-slide ng-repeat="slide7 in slides7 track by slide7.id" index="slide7.id">
                            <a ui-sref="working"><img ng-src="{{slide7.image}}" style="margin:auto;"></a>
                            <div class="carousel-caption">
                                <h4>Slide7 {{slide7.id}}</h4>
                                <p>{{slide7.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle">Comidas & Bebidas</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------ -->
    </div>
</div>

<!-- ---------------------------------------- TILE DE PROMOCIONES -------------------------------------------- -->
<div class="TileSite5">
    <div class="TileSitesContenido">
        <i class="material-icons  materialOut">card_giftcard</i>
        <div class="slider">

            <div uib-carousel active="active8" interval="myInterval8" no-wrap="noWrapSlides8">
                <div uib-slide ng-repeat="slide8 in slides8 track by slide8.id" index="slide8.id">
                    <a ui-sref="working"><img ng-src="{{slide8.image}}" style="margin:auto;"></a>
                    <div class="carousel-caption">
                        <h4>Slide8 {{slide8.id}}</h4>
                        <p>{{slide8.text}}</p>
                    </div>
                </div>
            </div>

            <span class="SpanTitle">Promociones & Descuentos</span>
            <div class="NotificacionTileSite">1</div>
            <div class="BarraDifuminadaTileSite"></div>
        </div>
    </div>
</div>
<!-- ---------------------------------------- TILE DE LUGARES -------------------------------------------- -->
<div class="TileSite6">
    <div class="TileSitesContenido">
        <i class="material-icons materialOut">explore</i>
        <div class="slider">

            <div uib-carousel active="active1" interval="myInterval1" no-wrap="noWrapSlides1">
                <div uib-slide ng-repeat="slide1 in slides1 track by slide1.id" index="slide1.id">
                    <a ui-sref="Place"><img ng-src="{{slide1.image}}" style="margin:auto;"></a>
                    <div class="carousel-caption">
                        <h4>Slide1 {{slide1.id}}</h4>
                        <p>{{slide1.text}}</p>
                    </div>
                </div>
            </div>

            <span class="SpanTitle">Lugares</span>
            <div class="BarraDifuminadaTileSite"></div>
        </div>
    </div>
</div>
<!-- ------------------------------------------------------------------------------------------------------------ -->