<div>
    <h2 class="TitleCont1">HOTELES</h2>


    <div class="ContainerTilesPlace">

        <div class="TileSite1">
            <div class="TileSitesContenido">
                <div class="slider">

                    <img src="http://q-ec.bstatic.com/images/hotel/max300/120/12051550.jpg" alt="">

                    <span class="SpanTitleBis" Translate>Hotel Hex</span>
                    <span class="SpanStar">4 <i class="material-icons">star</i></span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>


        <div class="TileSite1">
            <div class="TileSitesContenido">
                <div class="slider">

                    <img src="http://q-ec.bstatic.com/images/hotel/max300/120/12051550.jpg" alt="">

                    <span class="SpanTitleBis" Translate>Hotel Hex</span>
                    <span class="SpanStar">4 <i class="material-icons">star</i></span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>


        <div class="TileSite1">
            <div class="TileSitesContenido">
                <div class="slider">

                    <img src="http://q-ec.bstatic.com/images/hotel/max300/120/12051550.jpg" alt="">

                    <span class="SpanTitleBis" Translate>Hotel Hex</span>
                    <span class="SpanStar">4 <i class="material-icons">star</i></span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>


        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
    </div>

</div>


<!---------------------------------------------------------------------------------------------->

<div>
    <h2 class="TitleCont1">MOTELES</h2>


    <div class="ContainerTilesPlace">

        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>


        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>


        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
        <div class="TileSite1">
            <div class="TileSitesContenido">
                <i class="material-icons  materialOut">insert_invitation</i>
                <div class="slider">

                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>

                    <span class="SpanTitle" Translate>EventsTitle</span>
                    <div class="BarraDifuminadaTileSite"></div>
                </div>
            </div>
        </div>
    </div>

</div>