<link rel="stylesheet" href="../../assets/css/menuPrincipal.css">

<!-- INICIO DEL MENU-->
<div class="ContenedorMenu">
  <ul>
    <li><a ui-sref="home"><i class="material-icons">map</i> Discovr</a></li>
    <li id="LineSeparador"></li>
    <li><i class="material-icons">home</i> <span translate>HomeTitle</span></li>
    <li><i class="material-icons">keyboard_arrow_right</i> <span translate>WhereToGoTitle</span></li>

    <li class="FloatRightMenu">

         <label for="SubCheckSettings"><i class="material-icons">more_vert</i></label> 
        
        <input type="checkbox" id="SubCheckSettings" name="ossm"> 
		<ul id="ColorActive">
            <div class="ConectorMenu"></div>

			<li> <i class="material-icons">settings</i> <span translate>SettingsTitle</span></li>
			<li> <i class="material-icons">language</i>
                <span translate> LenguageTitle </span>
                <select ng-model="listLan.key" ng-change="changeLang()">
                    <option ng-repeat="lan in listLan" value = "{{lan.key}}"  ng-selected ="{{listLan.key}}">{{lan.value}}</option>                  
                </select>
            </li>
			<li> <i class="material-icons">bug_report</i> <span translate>BugsTitle</span></li>
		</ul> 
    </li>  
    <li class="FloatRightMenu"> 

        <label for="CheckSubMenuUsuario">
            <picture id="PictureUser"> <img src="http://www.callegranvia.com/info/img/los-secretos-de-un-buen-estudiante.jpg" alt=""> </picture>
        </label> 

        <input type="checkbox" id="CheckSubMenuUsuario"name="ossm"> 

		<ul class="SubMenuUsuario">
            
            <div class="ConectorMenu"></div>

			<li> <i class="material-icons">account_circle</i> <span translate>ProfileTitle</span> {{vm.username}} </li>
			<li> <i class="material-icons">accessible</i> <span translate>ConditionsTitle</span></li>
			<li> <a href="#/login" id="color"><i class="material-icons">exit_to_app</i><span translate>ExitTitle</span></a></li>
		</ul>
    </li>
    <li class="FloatRightMenu">
        <label for="SubCheckNotif"><i class="material-icons">notifications</i></label> 
    	
        <input type="checkbox" id="SubCheckNotif" name="ossm"> 
		<ul class="SubMenuNotificasion">

    			<li class="CardNotificasion">
                     <div class="ContainerDataNotificacion">
                        <picture id="PictureUser"> 
                        <img src="http://www.callegranvia.com/info/img/los-secretos-de-un-buen-estudiante.jpg" alt=""> </picture>
                        <span >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eos non ratione recusandae quam maxime ad ducimus ium.</span> 
                        <p class="FechaNotf">14-08-2016</p>
                     </div>
                </li>
                <li class="CardNotificasion">
                     <div class="ContainerDataNotificacion">
                        <picture id="PictureUser"> 
                        <img src="http://www.callegranvia.com/info/img/los-secretos-de-un-buen-estudiante.jpg" alt=""> </picture>
                        <span >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eos non ratione recusandae quam maxime ad ducimus ium.</span> 
                        <p class="FechaNotf">14-08-2016</p>
                     </div>
                </li>    
                <li class="CardNotificasion">
                     <div class="ContainerDataNotificacion">
                        <picture id="PictureUser"> 
                        <img src="http://www.callegranvia.com/info/img/los-secretos-de-un-buen-estudiante.jpg" alt=""> </picture>
                        <span >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eos non ratione recusandae quam maxime ad ducimus ium.</span> 
                        <p class="FechaNotf">14-08-2016</p>
                     </div>
                </li>    		
    		</ul>
    </li>
    <li class="FloatRightMenu">
       <form id="demo-2">
            <input type="search" placeholder="Search">
       </form>
    </li> 
 </ul>    
</div>
<!-- FIN DEL MENU-->
