<link rel="stylesheet" href="../../assets/css/menuPrincipal.css">
<style>
    .navbar {
        display: inline-block;
        width: 100%;
        border-radius: 0px;
    }
</style>
<!-- INICIO DEL MENU-->
<div class="ContenedorMenu">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">{{ 'BrandTitle' | translate }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
            <ul id="NavBarMenu" class="nav navbar-nav navbar-right">
                <li >
                    <form id="demo-2" class="FloatRightMenu">
                        <input type="search" placeholder="Search">
                    </form>
                </li>
                <li uib-dropdown>
                  <a id="notification" href="#" uib-dropdown-toggle>
                      <i class="material-icons">notifications</i>
                  </a>
                  <ul class="dropdown-menu SubMenuNotificasion ContainerDataNotificacion" uib-dropdown-menu role="menu" aria-labelledby="notification">
                      <li class="NotifConten">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sint eaque assumenda fuga est fugit harum nam perferendis nihil. Quas eaque accusamus delectus quaerat eligendi aperiam. Ullam non quod deserunt.
                      </li>
                      <li class="NotifConten">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sint eaque assumenda fuga est fugit harum nam perferendis nihil. Quas eaque accusamus delectus quaerat eligendi aperiam. Ullam non quod deserunt.
                      </li>
                      <li class="NotifConten">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sint eaque assumenda fuga est fugit harum nam perferendis nihil. Quas eaque accusamus delectus quaerat eligendi aperiam. Ullam non quod deserunt.
                      </li>
                      <li class="NotifConten">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sint eaque assumenda fuga est fugit harum nam perferendis nihil. Quas eaque accusamus delectus quaerat eligendi aperiam. Ullam non quod deserunt.
                      </li>
                      <li class="NotifConten">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sint eaque assumenda fuga est fugit harum nam perferendis nihil. Quas eaque accusamus delectus quaerat eligendi aperiam. Ullam non quod deserunt.
                      </li>
                  </ul>
                </li>
                <li>
                    <a href="#"tooltip-placement="bottom" uib-tooltip="{{ 'WelcomeTitle' | translate }} {{ vm.username }}">
                        <i class="material-icons">account_circle</i>
                    </a>
                </li>
                <!-------------------------------------------------------------------!-->
                <li uib-dropdown>
                    <a id="language" href="#" uib-dropdown-toggle>
                        <i class="material-icons">language</i>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="language">
                      <li role="menuitem" ng-repeat="lan in vm.listLan"><a href="#" ng-click="vm.changeLang(lan.key)">{{lan.value}}</a></li>
                    </ul>
                </li>
                <li uib-dropdown>
                    <a id="more" href="#" uib-dropdown-toggle>
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="more">
							        <li role="menuitem"><a href="#" ng-click="">{{ 'SettingsOpt1' | translate }}</a></li>
                      <li role="menuitem"><a href="#" ng-click="">{{ 'SettingsOpt2' | translate }}</a></li>
                      <li role="menuitem"><a ui-sref="login" ng-click="">{{ 'SettingsOpt3' | translate }}</a></li>
                      <li class="divider"></li>
                      <li role="menuitem"><a href="#" ng-click="">{{ 'SettingsOpt4' | translate }}</a></li>
                      <li role="menuitem"><a href="#" ng-click="">{{ 'SettingsOpt5' | translate }}</a></li>
						      	</ul>
                </li>


 <!--------------------------------------------------------------------- !-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>
<!-- FIN DEL MENU-->
