<link rel="stylesheet" href="../../assets/css/menuPrincipal.css">
<style>
    .navbar {
        display: inline-block;
        width: 100%;
        border-radius: 0px;
    }
</style>
<!-- INICIO DEL MENU-->
<div class="ContenedorMenu">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">Discovr</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

            <ul class="nav navbar-nav">
             </ul>
            <ul class="nav navbar-nav navbar-right">

                <li uib-dropdown>
                    <a href="#" uib-dropdown-toggle>
                        <i class="material-icons">notifications</i>
                        <span class='caret'></span>
                    </a>
                    <tree tree='tree'></tree>
                </li>
                      <!----------------------------------------------------------------------->

                      <li uib-dropdown>
                    <a href="#" uib-dropdown-toggle>
                        <i class="material-icons">account_circle</i> {{vm.username}}
                        <b class='caret'></b>
                    </a>
                    <tree tree='tree3'></tree>
                </li>
                <!--------------------------------------------------------------------->
                <li uib-dropdown>
                    <a href="#" uib-dropdown-toggle>
                        <i class="material-icons">more_vert</i>
                        <span class='caret'></span>
                    </a>
                    <tree tree='tree'></tree>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>
<!-- FIN DEL MENU-->