input[name="slider-select-element"] {
display: none;
}
#slider-arrows {
margin: -10% auto 0 auto;
width: 100%;
height: 50px;
padding: 0;

}



.slider-element img {
	width: 100%;
	height: 88px;
    object-fit: cover;
    -ms-object-fit: cover;
    -edge-object-fit: cover;
}

/* ESTA PROPIEDAD SE APLICA PARA MODIFICAR LOS TAMAÑOS EN LOS TILES FLOTANTES DEL SLIDER */

.ContainerFloatTiles img{
	height: 116px;
}

/* ADAPRA EL ALTO DE LOS TILES EN LOS TILES DEL SLIDER */

.ContainerFloatTiles img{
	height: 116px;
}

/* ADAPTA EL ALTO DE LA IMAGEN EN LOS TILES DE SITIOS */
.ContainerTileSites img{
	height: 180px;
}

/* ADAPTA EL ALTO DE LA IMAGEN EN LOS MINI TILES */

.MiniTilesSite img{
	height: 88px;
}


/* --------------------------------------------------------------------------------------- */
#slider-box {
-moz-animation: autoSlider 15s infinite linear;
-o-animation: autoSlider 15s infinite linear;
-webkit-animation: autoSlider 15s infinite linear;
animation: autoSlider 15s infinite linear;
-webkit-transition: all 0.75s ease;
-moz-transition: all 0.75s ease;
-ms-transition: all 0.75s ease;
-o-transition: all 0.75s ease;
transition: all 0.75s ease;
height: 100%;
width: 300%;
}

#slider-container {
height: 88px;
max-height: 800px;
overflow: hidden;
text-align: left;
width: 100%; 

}

/* ESTA PROPIEDAD SE APLICA PARA MODIFICAR LOS TAMAÑOS EN LOS TILES FLOTANTES DEL SLIDER */

.ContainerFloatTiles #slider-container{
	height: 116px;
}

/* ------------------------------------------------------------------------------------------ */


.element-blue,
.element-green,
.element-red {
	height: 180px;
	max-height: 180px;
	width: 100%;
	text-align: justify;
	float: left;
	/* display: table; */
}

.element-blue h3,
.element-green h3,
.element-red h3 {
	padding-bottom: 8px;
	font-size: 22px;
	text-align: center;
	font-weight: bold;
}


.element-blue, .element-green, .element-red {

text-align: center;

}
 
.slider-element {
float: left;
width: 33.333%;
}
@-moz-keyframes autoSlider {
0% {
margin-left: 0;
}
30% {
margin-left: 0;
}
35% {
margin-left: -100%;
}
65% {
margin-left: -100%;
}
70% {
margin-left: -200%;
}
95% {
margin-left: -200%;
}
100% {
margin-left: 0;
}
}
@-webkit-keyframes autoSlider {
0% {
margin-left: 0;
}
30% {
margin-left: 0;
}
35% {
margin-left: -100%;
}
65% {
margin-left: -100%;
}
70% {
margin-left: -200%;
}
95% {
margin-left: -200%;
}
100% {
margin-left: 0;
}
}
@keyframes autoSlider {
0% {
margin-left: 0;
}
30% {
margin-left: 0;
}
35% {
margin-left: -100%;
}
65% {
margin-left: -100%;
}
70% {
margin-left: -200%;
}
95% {
margin-left: -200%;
}
100% {
margin-left: 0;
}
}