<!DOCTYPE html>
<html lang="es" ng-app="DiscovrMain">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="description" content="DISCOVR - Sistema web de turismo">
    <meta name="author" content="Néstor Alberto Molina Morán y Alex José Flores Rivas">
    <link rel="icon" href="../../../files/img/favicon.ico">

	<title>Discovr</title>	

	<link rel="stylesheet" href="../../../assets/css/index.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../../../assets/css/no_webkit.css">
	<link rel="stylesheet" href="../../../assets/css/main/menuPrincipal.css">
</head>
<body class="FondoBody" ng-controller="MainController">
	
<!-- INICIO DEL MENU-->
<div class="ContenedorMenu">
  <ul>
    <li><i class="material-icons">map</i> Discovr</li>
    <li id="LineSeparador"></li>
    <li><i class="material-icons">home</i> <span translate>HomeTitle</span></li>
    <li><i class="material-icons">keyboard_arrow_right</i> <span translate>WhereToGoTitle</span></li>

    <li class="FloatRightMenu">
    	<i class="material-icons">more_vert</i>
		<ul>
			<li> <i class="material-icons">settings</i> <span translate>SettingsTitle</span></li>

			<li> <i class="material-icons">language</i> 

      <button ng-click="changeLang('en/en')">English</button>
      <button ng-click="changeLang('es/es')">Español</button>

    </li>

			<li> <i class="material-icons">bug_report</i> <span translate>BugsTitle</span></li>
		</ul>
    </li>
    <li class="FloatRightMenu"> 
    	<picture id="PictureUser"> <img src="http://www.callegranvia.com/info/img/los-secretos-de-un-buen-estudiante.jpg" alt=""> </picture>
		<ul class="SubMenuUsuario">
			<li> <i class="material-icons">account_circle</i> Perfil</li>
			<li> <i class="material-icons">accessible</i> Padecimientos</li>
			<li> <i class="material-icons">exit_to_app</i> Salir</li>
		</ul>
    </li>
    <li class="FloatRightMenu">
    	<i class="material-icons">notifications</i>
		<ul class="SubMenuNotificasion">

    			<li class="CardNotificasion">
                     <div class="ContainerDataNotificacion">
                           <picture id="PictureUser"> 
                        <img src="http://www.callegranvia.com/info/img/los-secretos-de-un-buen-estudiante.jpg" alt=""> </picture>

                    <span >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eos non ratione recusandae quam maxime ad ducimus ium.</espan> 

                        <p class="FechaNotf">14-08-2016</p>
                     </div>

                </li>

    		
                <li class="CardNotificasion">
                     <div class="ContainerDataNotificacion">
                           <picture id="PictureUser"> 
                        <img src="http://www.callegranvia.com/info/img/los-secretos-de-un-buen-estudiante.jpg" alt=""> </picture>

                    <span >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eos non ratione recusandae quam maxime ad ducimus ium.</espan> 

                        <p class="FechaNotf">14-08-2016</p>
                     </div>

                </li>

                
                <li class="CardNotificasion">
                     <div class="ContainerDataNotificacion">
                           <picture id="PictureUser"> 
                        <img src="http://www.callegranvia.com/info/img/los-secretos-de-un-buen-estudiante.jpg" alt=""> </picture>

                    <span >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eos non ratione recusandae quam maxime ad ducimus ium.</espan> 

                        <p class="FechaNotf">14-08-2016</p>
                     </div>

                </li>

    			
    		</ul>

 
    </li>
    <li class="FloatRightMenu">
        <i class="material-icons">search</i> <span id="TextBuscarM"><span translate>SearchTitle</span></span>
		<ul id="ContainerAllSearch">
			<li id="containerSearch">
				<input type="search" id="searchMenu" placeholder="{{ 'SearchPlaceHolder' | translate }}">
			</li> 
		</ul>
    </li>     
  </ul>
</div>
<!-- FIN DEL MENU-->

<div ng-view></div>

<!-- ------------------------------------------------------------ -->

	<script src="../../../bower_components/angular/angular.min.js"></script>
	<script src="../../../bower_components/angular-route/angular-route.min.js"></script>
	<script src="../../../bower_components/angular-translate/angular-translate.min.js"></script>
	<script src="../../../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
	<script src="../../../bower_components/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
	
    <script src="../../../assets/js/controllers/HomeController.js"></script>

    <script> <!--  este script es para identificar a cada navegador y asi aplicar css especifico en cada uno-->
		var d0cum3n7e13m3n7 = document.documentElement; 
		d0cum3n7e13m3n7.setAttribute('data-useragent', navigator.userAgent); 
		d0cum3n7e13m3n7.setAttribute('data-platform', navigator.platform); 
		d0cum3n7e13m3n7.className += ((!!('ontouchstart' in window) || !!('onmsgesturechange' in window))?' touch':'');
	</script>

	<!--<script src="../../js/gulp.js"></script>-->
	<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../../../assets/js/main/efectosTileIcono.js"></script>

<!-- ------------------------------------------------------------ -->
</body>
</html>






		

		