.slider{
	position: relative;
	z-index: 1;
}
.ContenedorMenu{
	z-index: 50002;
	top: 0;
	position: fixed;
	width: 100%;
	color: #fff;
	background: rgba(36,36,36,0.84);
background: -moz-linear-gradient(top, rgba(36,36,36,0.84) 0%, rgba(31,31,31,0.7) 15%, rgba(26,26,26,0.52) 34%, rgba(26,26,26,0) 88%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36,36,36,0.84)), color-stop(15%, rgba(31,31,31,0.7)), color-stop(34%, rgba(26,26,26,0.52)), color-stop(88%, rgba(26,26,26,0)));
background: -webkit-linear-gradient(top, rgba(36,36,36,0.84) 0%, rgba(31,31,31,0.7) 15%, rgba(26,26,26,0.52) 34%, rgba(26,26,26,0) 88%);
background: -o-linear-gradient(top, rgba(36,36,36,0.84) 0%, rgba(31,31,31,0.7) 15%, rgba(26,26,26,0.52) 34%, rgba(26,26,26,0) 88%);
background: -ms-linear-gradient(top, rgba(36,36,36,0.84) 0%, rgba(31,31,31,0.7) 15%, rgba(26,26,26,0.52) 34%, rgba(26,26,26,0) 88%);
background: linear-gradient(to bottom, rgba(36,36,36,0.84) 0%, rgba(31,31,31,0.7) 15%, rgba(26,26,26,0.52) 34%, rgba(26,26,26,0) 88%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#1a1a1a', GradientType=0 );
}

.ContenedorMenu ul{
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
	}

.ContenedorMenu li{
	list-style: none;
	display: inline-block;
	padding: 12px;
	cursor: pointer;
	}

.ContenedorMenu ul li i{
	display: inline-flex;
    vertical-align: bottom;
}

.ContenedorMenu ul li #PictureUser{
	width: 25px;
	height: 25px;
}

.ContenedorMenu ul li #PictureUser img{
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.FloatRightMenu{
	float: right;
	margin-right: 15px;
	height: 50px;
}

.FloatRightMenu .material-icons{
	padding-bottom: 6px;
}

#LineSeparador{
	border-right: 2px solid #fff;
	width: 0px;
	padding: 1;
	margin-top: 8px;
	margin-right: 12px;
}


/* --- Clase que agregaremos cuando el usuario haga scroll --- */
.menu-fixed {
	z-index: 50002;
	top: 0;
	position: fixed;
	width: 100%;

	color: #424242;
	background: linear-gradient(to bottom, rgba(36,36,36,0.84) 0%, rgba(31,31,31,0.7) 0%, rgba(26,26,26,0.52) 0%, rgba(26,26,26,0) 0%);
	background-color: #fff;
}

/* ---------------------- Estilos para el sub Menu-------------------------- */

.FloatRightMenu ul{
	display: none;
	position: absolute;
	background-color: rgba(224,224,224,0.8);
	color: rgba(38,50,56,0.9);
	width: 240px;
    margin-top: 8px;
    margin-left: -191px;
}

.FloatRightMenu .SubMenuUsuario{
	   margin-left: -127px;
	   margin-bottom: -25px;
}

.FloatRightMenu .SubMenuNotificasion{
	margin-left: -144px;
	width: 320px;
	background-color: #eeeeee;
	padding: 10px;
	padding-bottom: 0px;
	max-height: 400px;
	overflow: auto;
}

.FloatRightMenu .SubMenuNotificasion li{
	width: 299px;
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	margin-bottom: 10px;
	
}

.FloatRightMenu .SubMenuNotificasion li:hover{
	background-color: #fafafa;
}

.FloatRightMenu .SubMenuNotificasion li:active{
	background-color: #f5f5f5;
}

.FloatRightMenu ul li{
	width: 240px;
	min-width: 240px;
	display: block;
}

.FloatRightMenu ul li:hover{
	background-color: rgba(238,238,238,0.8);
}


.FloatRightMenu ul li:active{
	background-color: rgba(250,250,250,0.8);
}

.FloatRightMenu:hover > ul{ /* Hace que el Toltip Aparezca */
	transition: all 0.9s;
	display: block;
}

