html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  box-sizing: border-box ;
  font-family: Segoe UI;
 

}


::-webkit-scrollbar {
    width: 9px;

}
::-webkit-scrollbar-track {
    background-color: #ecf0f1; 
    border-radius: 4px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #BCBDAC; 
}



.slider {
  margin: 0 auto;
}

.slide_viewer {
  height: 410px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: #D7A151;
}

.slide:nth-of-type(2) {
  background: #F4E4CD;
}

.slide:nth-of-type(3) {
  background: #C75534;
}

.slide:nth-of-type(4) {
  background: #D1D1D4;
}

.slide_buttons {
  
  left: 0;
  position: absolute;
  right: 0;
  text-align: left;
  margin-top: -57px;
  z-index: 50000;
background: -moz-linear-gradient(top, rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 83%, rgba(0,0,0,0.65) 84%, rgba(0,0,0,0.65) 85%, rgba(0,0,0,0.65) 87%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 83%,rgba(0,0,0,0.65) 84%,rgba(0,0,0,0.65) 85%,rgba(0,0,0,0.65) 87%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 83%,rgba(0,0,0,0.65) 84%,rgba(0,0,0,0.65) 85%,rgba(0,0,0,0.65) 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

a.slide_btn {

  color: rgba(236,239,241,0.4);
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #fff;
  cursor: pointer;
}


 /* _________________________________________________________________________________________________ */
.prueba{
  background-color: #fff;
  padding: 15px;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 1px 2px #999;
  margin-bottom: 25px;
  font-size: 1.05em;
}

.prueba:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  }

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }

  .slide_viewer {
  height: 210px;
}
 /* _________________________________________________________________________________________________ */
.prueba{
  width: 90%;
}

}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.card{
  padding: 12px;
   margin-bottom: 25px;
}


a {

 
   }