<div id="form-container">

	<!-- use ng-submit to catch the form submission and use our Angular function -->
	<form id="signup-form" ng-submit="vm.signup()">
		<!-- username input row -->
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" name="username" ng-model="vm.profileData.username">
		</div>
		<!-- Name & surname inputs row -->
		<div class="form-group">
			<div>
				<label for="name">Name</label>
				<input type="text" class="form-control" name="name" ng-model="vm.profileData.name">
			</div>
			<div>
				<label for="surname">Surname</label>
				<input type="text" class="form-control" name="surname" ng-model="vm.profileData.surname">
			</div>
		</div>
		<!-- email input row -->
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" name="email" ng-model="vm.profileData.email">
		</div>
		<!-- phone input row -->
		<div class="form-group">
			<label for="phone">Phone</label>
			<input type="text" class="form-control" name="phone" ng-model="vm.profileData.phone">
		</div>
		<!-- birthday & genre inputs row -->
		<div class="form-group">
			<div>				
				<label for="name">Birthday</label>
				<input type="date" class="form-control" name="birthday" ng-model="vm.profileData.birthday">
			</div>
			<div>
				<label for="genre">Genre</label>
				<select class="form-control" name="genre" ng-model="vm.profileData.genre">
					<option value="1">Man</option>
					<option value="2">Women</option>
					<option value="3">Other?</option>
				</select>
			</div>
		</div>
		<div>
			<select name="selectedCountry" class="form-control" ng-model="vm.selectedCountry" ng-change="vm.filterLocation(1,1)" ng-options="country.IdCountry as country.Name for country in vm.country">
				<option value="">Select Country</option>
			</select>
			
			<select name="selectedDepartment" class="form-control" ng-disabled="!vm.selectedCountry" ng-change="vm.filterLocation(2,1)" ng-model="vm.selectedDepartment" ng-options="department.IdDepartment as department.Name for department in vm.filterDepartment">
				<option value="">Select Department/State/Province/Region</option>
			</select>
			
			<select name="selectedCity" class="form-control" ng-disabled="!vm.selectedDepartment" ng-model="vm.selectedCity" ng-options="city.IdCity as city.Name for city in vm.filterCity" >
				<option value="">Select City</option>
			</select>
		</div>
		<!-- password inputs row -->
		<div class="form-group">
			<label for="password1">Password</label>
			<input type="password" class="form-control" name="password1" ng-model="vm.profileData.password1">
		</div>
		<!-- confirm password inputs row -->
		<div class="form-group">
			<label for="password2">Confirm Password</label>
			<input type="password" class="form-control" name="password2" ng-model="vm.profileData.password2">
		</div>
		<!-- Here put a divider -->
		<!-- terms & condition of the services -->
		<p>
			By clicking Sign Up, you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Data Policy</a>.
		</p>
		<p>you have an account? <a href="#">Login</a></p>
		<!-- submit row -->
		<div class="form-group row">
			<button type="submit" class="btn btn-block btn-info">Registrarse</button>
			<a ui-sref="form.interests" class="btn btn-block btn-info">Ingresar Preferencias</a>
			
		</div>
	</form>

</div>

<!-- show our vm.profileData as it is being typed -->
<pre>
{{ vm.profileData }}
</pre>
