@font-face {
    font-family: Segoe_UI;
    src: url(../fonts/Segoe_UI.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: Segoe_UI;
}
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}
::-webkit-scrollbar-track {
    background-color: #ecf0f1;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #BCBDAC;
}
body {
    background-color: #e7f4fA;
    overflow-x: hidden;
    font-size: 14px;
}
/*------------- LINEA PARA SEPARAR TEXTO ----------*/
hr.separator {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
/*------------- FIN LINEA PARA SEPARAR TEXTO ----------*/
/*--------------- BACKGROUND-------------*/
.FondoBodyIndex {
    background-color: #e7f4fA;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    color: #7f8c8d;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/*-----------NG ANIMATE---------------------------*/
.view-animate-container {
    position: relative;
    /*height: 100px!important;*/
    background: #f5f5f5;
    height: 100vh;
}
.view-animate {}

.view-animate.ng-leave { z-index:9999; }
.view-animate.ng-enter{ z-index:8888; }

.view-animate.ng-enter,
.view-animate.ng-leave {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  /*-webkit-animation:scaleUp 0.5s both ease-in;
  -moz-animation:scaleUp 0.5s both ease-in;
  animation:scaleUp 0.5s both ease-in;*/
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.view-animate.ng-enter {
    left: 100%;
}
.view-animate.ng-enter.ng-enter-active {
    left: 0;
}
.view-animate.ng-leave.ng-leave-active {
    left: -100%;
}

/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
