#ContenedorFormularioSesion{
	float: right;
	width: 400px;
	height: 270px;
	max-height: 400px;
	background-color: rgba(33,33,33,0.7);
	color: #000;
	text-align: center;
	margin-left: 10px;
	margin-top: -170px;
	padding-top: 10px;
	position: relative;
	/* position: absolute;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, -50%);
	    -webkit-transform: translate(-50%, -50%);
	 */
}

.inputTex{
	width: calc(100% - 30px);
	border-style: none;
	padding: 23px;
	height: 40px;
	margin: 0 auto;
	margin: 10px;
	margin-left: 15px;
	margin-right: 15px;
	background-color: rgba(250,250,250,1.0)
}

#ContenedorFormularioSesion h2{
	color: #fff;
	padding: 5px;
	padding-bottom: 10px;
	padding-top: 22px;
}

.btn-primary1{
	outline:0px;
	padding: 15px;
	text-align: center;
	width: 100%;
	border-style: none;
	background-color: #1565c0;
	margin: 0 auto;
	margin-top: 10px;
	color: #fff;
	font-size: 17px;
	cursor: pointer;
	
}

.btn-primary1:hover{
	background-color: rgba(229,57,53,1);
}

.btn-primary1:active{
	background-color: rgba(198,40,40,1);
}

.ChangeLang{
	color: #000;
	border-style: none;
	padding: 5px;
}

.Reister1{
	color: #fff;
	font-weight: bold;
	text-align: left;
	padding-left: 15px;
	padding-top: 10px;
}
.Reister{
	color: #fff;
}

.SingUp{
	font-weight: bold;
}

.MenuLoguin{
	height: 50px;
	width: 100%;
	background-color: rgba(33,33,33,0.7);
	 z-index: 50002;
    top: 0;
    position: fixed;
}

.MenuLoguin ul li{
	display: inline-block;
	padding: 15px;
	padding-top: 15px;
	float: right;
	font-family: Segoe_UI;
}

.MenuLoguin ul li:nth-of-type(1){
	float: left;
}

/* textos bajo el slider*/

.ContainerText{
	color: #000;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.ContainerText h1{
	font-size: 20px;
	font-weight: bold;
}

.ContainerText h2{
	font-size: 20px;
	font-weight: bold;
}

/* inicio delmodelo responsitive*/
@media only screen and (max-width: 767px) {


	#ContenedorFormularioSesion{
	width: 90%;
	height: 100%
	margin-left: 5%;
	position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-0%, -50%);
    -webkit-transform: translate(-0%, -50%);
}

.inputTex{
	width: 90%;
}
