.ContainerAlltoAll {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: table;
}

.slider {
    position: relative;
    z-index: 1;
}

.ContenedorMenu {
    z-index: 999;
    top: 0;
    position: fixed;
    width: 100%;
    color: #fff;
    max-height: 60px;
    background: rgba(36, 36, 36, 0.84);
    background: -moz-linear-gradient(top, rgba(36, 36, 36, 0.84) 0%, rgba(31, 31, 31, 0.7) 15%, rgba(26, 26, 26, 0.52) 34%, rgba(26, 26, 26, 0) 88%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36, 36, 36, 0.84)), color-stop(15%, rgba(31, 31, 31, 0.7)), color-stop(34%, rgba(26, 26, 26, 0.52)), color-stop(88%, rgba(26, 26, 26, 0)));
    background: -webkit-linear-gradient(top, rgba(36, 36, 36, 0.84) 0%, rgba(31, 31, 31, 0.7) 15%, rgba(26, 26, 26, 0.52) 34%, rgba(26, 26, 26, 0) 88%);
    background: -o-linear-gradient(top, rgba(36, 36, 36, 0.84) 0%, rgba(31, 31, 31, 0.7) 15%, rgba(26, 26, 26, 0.52) 34%, rgba(26, 26, 26, 0) 88%);
    background: -ms-linear-gradient(top, rgba(36, 36, 36, 0.84) 0%, rgba(31, 31, 31, 0.7) 15%, rgba(26, 26, 26, 0.52) 34%, rgba(26, 26, 26, 0) 88%);
    background: linear-gradient(to bottom, rgba(36, 36, 36, 0.84) 0%, rgba(31, 31, 31, 0.7) 15%, rgba(26, 26, 26, 0.52) 34%, rgba(26, 26, 26, 0) 88%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#1a1a1a', GradientType=0);
}

.VrAll .ContenedorMenu{
    background: linear-gradient(to bottom, rgba(33, 33, 33, 0.84) 0%, rgba(33, 33, 33, 0.7) 0%, rgba(33, 33, 33, 0.52) 0%, rgba(33, 33, 33, 0) 0%);
    background-color: rgba(33, 33, 33, 0.9);
    max-height: 50px;
}

#searchMenu {
    border-style: none;
    padding: 9px;
    margin-bottom: 15px;
    margin-top: -8px;
    color: rgba(33, 33, 33, 1);
    width: 250px;
    background-color: rgba(250, 250, 250, 0.4);
    font-size: 16px;
}

#LineSeparador {
    border-right: 2px solid #fff;
    width: 0px;
    padding: 1;
    margin-top: 8px;
    margin-right: 12px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #eceff1;
}

a:active {
    color: #cfd8dc;
}


/* --- Clase que agregaremos cuando el usuario haga scroll --- */

.menu-fixed {
    z-index: 999;
    top: 0;
    position: fixed;
    width: 100%;
    color: #fff;
    background: linear-gradient(to bottom, rgba(36, 36, 36, 0.84) 0%, rgba(31, 31, 31, 0.7) 0%, rgba(26, 26, 26, 0.52) 0%, rgba(26, 26, 26, 0) 0%);
    background-color: #546E7A;
    max-height: 50px;
}

.menu-fixed a {
  text-decoration: none;
  color: #fff;
}

.menu-fixed a:hover {
  text-decoration: none;
  color: #0091EA;
}

.menu-fixed a:active {
    color: #0091EA;
}


/* Estilos aplicados para cuando se selecciona o se pasa el cursor sobre los li */

.FloatRightMenu .SubMenuNotificasion li:hover {
    background-color: #fafafa;
}

.FloatRightMenu .SubMenuNotificasion li:active {
    background-color: #f5f5f5;
}


/* Estilos aplicados a las notificaciones */

.ContainerDataNotificacion {
    width: 300px;
    display: table;
    text-align: justify;
    max-height: 400px;
    color: #000;
    overflow-x: auto;
    box-sizing: border-box;
}

.notifButt {
    background-color: transparent;
    border-style: none;
    margin-top: 16px;
    margin-left: 30px;
    margin-right: 30px;
}

.SubMenuAction {
    width: 200px;
    display: table;
    text-align: justify;
}

.notifButt:active {
    background-color: transparent;
    border-style: none;
}

.NotifConten {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: #f5f5f5;
    padding: 8px;
    margin-bottom: 8px;
}


/* ESTILO DE LA BARRA DE BUSQUEDA */

.FloatRightMenu input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-size: 100%;
}

.FloatRightMenu input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

.FloatRightMenu input[type=search] {
    background: url(../../assets/files/img/search/white.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;
    border-style: none;
    margin-top: -8px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.menu-fixed .FloatRightMenu input[type=search] {
    background: url(../../assets/files/img/search/white.png) no-repeat 9px center;
}


/* BARRA DE BUSQUEDA*/

#demo-2 input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
    outline: 0px;
    margin-top: 5px;
    padding-right: 25px;
}

#demo-2 input[type=search]:hover {
    /* background-color: #fff; */
}

#demo-2 input[type=search]:focus {
    width: 200px;
    padding-left: 42px;
    color: #fff;
    background-color: rgba(224, 224, 224, 0.6);
    cursor: auto;
}

#demo-2 input:-moz-placeholder {
    color: transparent;
}

#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}


/* ---------------------------------------------------------------------- */

.menu-fixed .navbar-default .navbar-brand {
    color: #fff;
}

.menu-fixed .navbar-default .navbar-text {
    color: #fff;
}

.menu-fixed .navbar-default .navbar-nav>li>a {
    color: #fff;
}


/*-------------------------------------------------------------------------------------------------*/

.menu-fixed .navbar-default .navbar-brand:hover {
    color: #757575;
}

.menu-fixed .navbar-default .navbar-brand:active {
    color: #bdbdbd;
}


/*---------------------------------------------------------------------------------*/

.menu-fixed .navbar-default .navbar-texthover {
    color: #757575;
}

.menu-fixed .navbar-default .navbar-text:active {
    color: #bdbdbd;
}


/*------------------------------------------------------------------------------------*/

.menu-fixed .navbar-default .navbar-nav>li>a:hover {
    color: #757575;
}

.menu-fixed .navbar-default .navbar-nav>li>a:active {
    color: #bdbdbd;
}
/*------------------------------------------------------------------------------------*/
/* .btn-danger{
    margin-top: 13px;
}

.menu-fixed .btn-danger{
    color: #424242;
}

.btn-danger{
     padding-right: 22px;
}
.menu-fixed .btn-danger{
    color: #424242;
} */

.SelectLang{
    color: #fff;
    border-style: none;
    background-color: transparent;
    outline: none;
    width: 20px;

}

.SelectLang:hover{
    color: #000;
}

.menu-fixed .SelectLang{
    color: #000;
}
/*------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 765px) {
    .navbar {
        background-color: #f5f5f5;
        color: #000;
    }
    .navbar-default .navbar-brand {
        color: #424242;
    }
    .navbar-default .navbar-text {
        color: #424242;
    }
    .navbar-default .navbar-nav>li>a {
        color: #424242;
    }
    .FloatRightMenu {
        margin-left: 7px;
    }
    #demo-2 input[type=search]:focus {
        width: 100%;
    }
    .FloatRightMenu input[type=search] {
        background: url(../../assets/files/img/search/black.png) no-repeat 9px center;
    }
}
