<link rel="stylesheet" href="../assets/css/loguin.css">


<a href="../assets/templates/pages/plantilla.html">Load Main Page</a>

<div id="ContenedorFormularioSesion">
<form action="">
	<h2 translate> loginTitle </h2>
	<input type="text" placeholder="{{ 'userInputPlaceHolder' | translate }}" class="inputTex" required>
	<input type="password" placeholder="{{ 'passInputPlaceHolder' | translate }}" class="inputTex" required>
	<input type="submit" value="{{ 'btnLogin' | translate }}" class="inputSubmit">
</form>
</div>


